<%= simple_form_for(@unidad) do |f| %>
  <div class="card shadow-sm border-0 rounded-4">
    <div class="card-header bg-dark text-white py-3 rounded-top-4">
      <h4 class="mb-0">
        <i class="bi bi-truck me-2"></i>
        Datos de la Unidad
      </h4>
    </div>

    <div class="card-body p-4">

      <%= f.error_notification %>

      <% if f.object.errors[:base].present? %>
        <div class="alert alert-danger">
          <%= f.object.errors[:base].to_sentence %>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-4">
          <%= f.input :unitID,
            label: "ID Unidad (Linker)",
            input_html: {
              class: "form-control"
            } %>
        </div>

        <div class="col-md-4">
          <%= f.input :codigo,
            label: "Código",
            input_html: {
              class: "form-control"
            } %>
        </div>

        <div class="col-md-4">
          <%= f.input :placa,
            label: "Placa",
            input_html: {
              class: "form-control text-uppercase"
            } %>
        </div>
      </div>

      <div class="row mt-3">

        <div class="col-md-6">

          <%= f.input :mostrar_motor_hours,
            as: :boolean,
            label: "Mostrar Horas de Motor" %>

        </div>

        <div class="col-md-6">

          <%= f.input :usar_odometro_ecm,
            as: :boolean,
            label: "Usar Odómetro ECM" %>

        </div>

      </div>

    </div>

    <div class="card-footer bg-light d-flex justify-content-between align-items-center p-3">
      <%= link_to unidades_path, class: "btn btn-outline-secondary" do %>
        <i class="bi bi-arrow-left"></i>
        Regresar
      <% end %>

      <%= f.button :submit,
        (@unidad.new_record? ? "Guardar Unidad" : "Actualizar Unidad"),
        class: "btn btn-primary px-4" %>
    </div>
  </div>
<% end %>