
<%= simple_form_for(@meta) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :cantidad_meta,
            label: "Cantidad Meta (Km)" %>

    <%= f.input :alerta_km,
                label: "Alertar cuando falten (Km)" %>

    <%= f.input :urgente_km,
                label: "Entrar en urgente cuando supere (Km)" %>

    <%= f.input :color,
            collection: [
              ['Rojo', 'red'],
              ['Amarillo', 'yellow'],
              ['Verde', 'green'],
              ['Naranja', 'orange'],
              ['Morado', 'purple']
            ],
            prompt: "Seleccione un color" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
