<div id="<%= dom_id meta %>">
  <p>
    <strong>Nombre:</strong>
    <%= meta.nombre %>
  </p>

  <p>
    <strong>Kilometraje inicio:</strong>
    <%= meta.kilometraje_inicio %>
  </p>

  <p>
    <strong>Kilometraje final:</strong>
    <%= meta.kilometraje_final %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= meta.color %>
  </p>

  <p>
    <strong>Nivel imp:</strong>
    <%= meta.nivel_imp %>
  </p>

</div>
