<div id="<%= dom_id servicio %>">
  <p>
    <strong>Unidad:</strong>
    <%= servicio.unidad_id %>
  </p>

  <p>
    <strong>Kilometraje:</strong>
    <%= servicio.kilometraje %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= servicio.fecha %>
  </p>

  <p>
    <strong>Nom mecanico:</strong>
    <%= servicio.nom_mecanico %>
  </p>

</div>
