<p style="color: green"><%= notice %></p>

<%= render @meta_notificacion %>

<div>
  <%= link_to "Edit this meta notificacion", edit_meta_notificacion_path(@meta_notificacion) %> |
  <%= link_to "Back to meta notificacions", meta_notificaciones_path %>

  <%= button_to "Destroy this meta notificacion", @meta_notificacion, method: :delete %>
</div>
